 <h3 class="table-heading text-primary text-center mt-3">Tasks Summary</h3>

 <div class="search-container">
       <mat-form-field appearance="outline" class="employee-select full-width">
                    <mat-label>Select an option</mat-label>
                    <mat-select (selectionChange)="selectedValue($event)" [(value)]="selectedEmployee">
                        <mat-option value="">All</mat-option>
                        <mat-option  *ngFor="let empName of assigneeOptions" [value]="empName.fullName">{{empName.fullName}}</mat-option>
                    </mat-select>
                    </mat-form-field>
                    

            <mat-form-field appearance="outline" class="search-field">
                <mat-label class="search-label">Search Employee</mat-label>
                <input matInput [(ngModel)]="searchText" (input)="onSearch()" placeholder="Enter Employee name..." />
                <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>

<mat-table [dataSource]="fillteredTasks" class="custom-table mat-elevation-z2">

             <ng-container matColumnDef="taskId">
                <mat-header-cell *matHeaderCellDef> TaskId </mat-header-cell>
                <mat-cell *matCellDef="let task" class="task-bold"> {{ task.taskId }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="taskName">
                <mat-header-cell *matHeaderCellDef> Task </mat-header-cell>
                <mat-cell *matCellDef="let task" class="task-bold"> {{ task.taskName }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="taskDescription">
                <mat-header-cell *matHeaderCellDef> Task Description </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{ task.description }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="assignedTo">
                <mat-header-cell *matHeaderCellDef> Employee </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{ task.assignedEmployee }} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="actualCount">
                <mat-header-cell *matHeaderCellDef> Actual Completion </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{ task.actualCount }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="expectedCount">
                <mat-header-cell *matHeaderCellDef> Target Completion </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{ task.expectedCount }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="taskMonth">
                <mat-header-cell *matHeaderCellDef> Assign Month</mat-header-cell>
                <mat-cell *matCellDef="let task"> {{ task.monthYear | date: 'MMMM yyyy'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="taskStatus">
                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let task"> {{ task.status }} </mat-cell>
            </ng-container>



            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <ng-template #noTask>
            <p>No tasks found.</p>
        </ng-template>

        <mat-paginator [length]="totalCount" [pageSize]="pageSize" (page)="onPageChange($event)">
        </mat-paginator>
