

<section>
    <div class="container my-3">
        <div class="d-flex justify-content-between">
            <h4 class="text-dark">Hello User</h4>
            <button class="btn btn-outline-success rounded" (click)="openDialog()">Create Task</button>
        </div>
        <h3 class="text-primary text-center mt-5">All Assigned Tasks</h3>

        <table class="table table-striped mt-3" *ngIf="taskList.length > 0">
            <thead class="table-success">
                <tr>
                    <th>Id</th>
                    <th>Task</th>
                    <th class="text-center">Assignee</th>
                    <th class="text-center">Task Frequency</th>
                    <th class="text-center">Monthly Recurring</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let task of taskList; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ task.taskName}}</td>
                    <td class="text-center">{{ task.assigneeName }}</td>
                    <td class="text-center">{{ task.repeatCount }}</td>
                    <td class="text-center">{{ task.isRecurring? 'Yes' : 'No' }}</td>
                    <td class="text-center">
                        <button mat-raised-button color="primary" class="me-2">Edit</button>
                        <button mat-raised-button color="accent" >Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div *ngIf="taskList.length === 0" class="text-muted">
            No tasks found.
        </div>

    </div>

</section>