<div class="sidebar-menu bg-dark text-white d-flex flex-column p-3" [class.collapsed]="isCollapsed">
  <!-- Sidebar toggle -->
  <div class="sidebar-header d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none" (click)="toggleSidebar()">
    <i class="bi bi-kanban-fill me-2 fs-4"></i>
    <span *ngIf="!isCollapsed" class="fs-4">Project Tool</span>
  </div>

  <hr />

  <!-- Navigation Links -->
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a [routerLink]="'/home-page'" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-house-door-fill me-2"></i>
        <span *ngIf="!isCollapsed">Home</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/taskAssignPage'" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-check2-square me-2"></i>
        <span *ngIf="!isCollapsed">Task Dashboard</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/taskSummaryPage'" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-clipboard-data-fill me-2"></i>
        <span *ngIf="!isCollapsed">Task Summary</span>
      </a>
    </li>
    <li>
      <a [routerLink]="'/taskHistoryPage'" routerLinkActive="active" class="nav-link text-white">
        <i class="bi bi-clock-history me-2"></i>
        <span *ngIf="!isCollapsed">Task History</span>
      </a>
    </li>
  </ul>

  <hr />
</div>
